<div class="shadow border">
    <div class="text-xl font-semibold text-center p-4">Add User</div>
    <form>
        <div class="flex flex-wrap p-4">
                <mat-form-field class="w-full">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput placeholder="Ex. John doe">
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. John@gmail.com">
                  </mat-form-field>
                  <mat-form-field class="w-full">
                    <mat-label>Age</mat-label>
                    <input type="number" matInput placeholder="Ex. 26">
                  </mat-form-field>
                  <mat-form-field class="w-full">
                    <mat-label>Address</mat-label>
                    <input type="text" matInput placeholder="Ex. india">
                  </mat-form-field>
                  <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input type="text" matInput placeholder="Ex. hbhjb@34">
                  </mat-form-field>
              
        </div>
        <div class="flex justify-center p-4">
            <button  mat-raised-button  color="primary">Add user</button>
          </div>
    </form>
</div>